<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
  </head>

  <body>
    <div id="app">
      <div class="nav-bar texto">Bienvenido a los Yupi Calcetines</div>
      <div class="cart">Carrito({{unidades}})</div>

      <div class="product-display">
        <div class="product-container">
          <div v-show="stock>0" class="product-image">
            <a :href="url">
              <img :src="imagen" :title="tooltip" />
            </a>
          </div>
          <div class="product-info">
            <h1>{{ producto}}</h1>
            <p>{{ descripcion }}</p>
            <p v-if="oferta">
              En oferta: compra un calcetín y llévate un zapato
            </p>
            <p v-if="stock>5">Disponible</p>
            <p v-else-if="stock>0">Ultimas unidades</p>
            <p v-else>No disponible</p>
            <ul>
              <li v-for="detalle in detalles"> {{detalle}}</li>
            </ul>
            <ul>
             <li v-for="talla in tallas" :key="talla.id" class="inline">{{talla.tamanyo}}</li> 
            </ul>
          </div>
          <div 
            v-for="variante in variantes" 
            :key="variante.id" 
            @mouseover="actualizarImagen(variante.image)"
            class="color-circle" 
            :style="{ backgroundColor: variante.color}">
          </div>
        </div>
        <button class="button" @click="anyadirAlCarrito">Comprar</button>
        <button class="button" @click="borrarCarrito">Quitar </button>
      </div>
    <!-- Import Js -->
    <script src="./main.js"></script>
  </body>

</html>